.heading {
    color: blueviolet;
    background: teal;
}
#bold {
    color: darkblue;
    background: crimson;
}
#strong{

    padding: 50px;
    color: darkgreen;
}
body {
    background: wheat;
    color: yellow;
}